.main {
  display: flex;
  justify-content: center;
  gap: 0 40px;
}

.mainColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0;
  min-width: 480px;
  gap: 24px 0;
}

/*
  В компонент инпут нельзя прокинуть стили,
  а по дефолту их длина фиксированная
*/
fieldset > div {
  width: 100% !important;
}

fieldset > div > div {
  width: inherit !important;
}

.button {
  align-items: center;
  justify-content: center;
  display: flex;
}

.button__group {
  display: flex;
  justify-content: space-around;
}

.link {
  font-family: "Jet Brains Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4c4cff;
  text-decoration: none;
}

.registrationNav {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  gap: 16px 0;
  padding: 0;
  margin: 0;
}

.registrationNav__item {
  display: flex;
  gap: 0px 8px;
}
