
.feedList {
  height: calc(100vh - 188px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 8px 0 0;
  margin: 0;
}


.feedList__item:not(:last-child) {
  margin-bottom: 16px;
}

.feedStatusLists {
  display: flex;
  justify-content: space-between;
}