.burgerconstructor {
  max-width: 592px;
}
.burgerconstructor__total {
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.burgerconstructor__total svg {
  height: 33px;
  width: 33px;
}
